<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="list-home" class="row">
            <div class="col-15">
                <h6> GERENCIE SEUS DEPARTAMENTOS, CARGOS E FUNCIONARIOS </h6>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="card" class="row">
            <div class="card" style="width: 18rem;">
                <img src="https://avatars.githubusercontent.com/u/94429495?v=4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Olá</h5>
                    <p class="card-text">"Desenvolvi essa aplicação com muito carinho e dedicação, reforçando o
                        treinamento com spring-mvc e tymeleaf"</p>
                    <a href="https://www.linkedin.com/in/deusley-diego-806249237" class="btn btn-primary">Deusley
                        Diego</a>
                </div>

            </div>

        </div>
</section>
</body>
</html>